@import "react-day-picker/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta text-white;
  }
}

@layer components {
  .bond-chip {
    @apply rounded-full border border-transparent bg-white/10 px-3 py-0.5 hover:border-gray-600;
  }

  .bg-base {
    z-index: -100;
    @apply fixed h-[100vh] w-[100vw];
    background-attachment: fixed;
  }

  .bg-grad-top {
    background: radial-gradient(
      circle at -50% 0%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    background-attachment: fixed;
  }

  .bg-grad-top-2 {
    z-index: -70;
    background: radial-gradient(
      circle at 180% 00%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
    background-attachment: fixed;
  }

  .bg-grad-top-xs {
    z-index: -60;
    background: radial-gradient(
      circle at 380% 0%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  .bg-grad-mid-xs {
    background: radial-gradient(
      circle at 330% 50%,
      rgba(101, 137, 167, 1) 0%,
      rgba(20, 24, 45, 0) 50%
    );
  }

  .bg-grad-bottom-r {
    background: radial-gradient(
      circle at 150% 230%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }

  .bg-grad-bottom-l {
    background: radial-gradient(
      circle at -30% 95%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 30%
    );
  }

  .bp-tooltip {
    z-index: 99999;
  }
}

@layer utilities {
  .bp-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .skeleton-container {
    opacity: 0.6;
    @apply rounded-md;
    background: linear-gradient(
      90deg,
      rgba(138, 138, 138, 0.68) 0%,
      rgba(132, 120, 100, 0.48) 100%
    );
  }

  .skeleton {
    mix-blend-mode: overlay;
    animation: skeleton-loading 2s linear infinite alternate;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(230, 12%, 24%);
  }
  100% {
    background-color: hsl(230, 12%, 34%);
    opacity: 20;
  }
}

.recharts-cartesian-axis-tick-value tspan {
  @apply text-[8px];
}
