@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-base font-jakarta text-white;
  }
}

@layer components {
  .bond-chip {
    @apply rounded-full border border-transparent bg-white/10 px-3 py-0.5 hover:border-gray-600;
  }

  .bg-base {
    z-index: -100;
    @apply absolute inset-0 h-full w-full;
  }

  .bg-grad-top {
    background: radial-gradient(
      circle at -50% 0%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  .bg-grad-top-2 {
    z-index: -70;
    background: radial-gradient(
      circle at 180% 00%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  .bg-grad-top-xs {
    z-index: -60;
    background: radial-gradient(
      circle at 380% 0%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  }

  .bg-grad-mid-xs {
    background: radial-gradient(
      circle at 330% 50%,
      rgba(101, 137, 167, 1) 0%,
      rgba(20, 24, 45, 0) 50%
    );
  }

  .bg-grad-bottom-r {
    background: radial-gradient(
      circle at 150% 230%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }

  .bg-grad-bottom-l {
    background: radial-gradient(
      circle at -30% 95%,
      rgb(101, 137, 167, 1) 0%,
      rgba(255, 255, 255, 0) 30%
    );
  }
}
