##### APP SPECIFIC #####

## Current environment (options: production, staging, testing, development)
VITE_ENVIRONMENT=development

## Whether the app is under maintenance, leave blank if not
VITE_MAINTENANCE=

## Wheter to show testnet markets or mainnet
VITE_TESTNET=

##### PROTOCOL SPECIFIC #####

## Frontend provider address for fees
VITE_MARKET_REFERRAL_ADDRESS=

## Comma separated list, chain id + address separated by underscore eg 1_0x1392...
VITE_NO_FRONTEND_FEE_OWNERS=

## Coingecko
VITE_COINGECKO_PRO_PROXY_URL=
VITE_COINGECKO_PUBLIC_URL=https://api.coingecko.com/api/v3

## API
VITE_API_URL=

## Wallet Connect
VITE_WALLET_CONNECT_PROJECT_ID=

##### NODE PROVIDER KEYS #####
## Mainnets
VITE_ALCHEMY_MAINNET_KEY=
VITE_ALCHEMY_ARBITRUM_MAINNET_KEY=
VITE_ALCHEMY_OPTIMISM_MAINNET_KEY=
VITE_ALCHEMY_POLYGON_MAINNET_KEY=
VITE_ALCHEMY_BASE_MAINNET_KEY=

## Testnets
VITE_ALCHEMY_GOERLI_KEY=
VITE_ALCHEMY_ARBITRUM_GOERLI_KEY=
VITE_ALCHEMY_OPTIMISM_GOERLI_KEY=
VITE_ALCHEMY_POLYGON_MUMBAI_KEY=
VITE_ALCHEMY_BASE_SEPOLIA_KEY=

## Subgraph schema
VITE_SUBGRAPH_CODEGEN_SCHEMA_ENDPOINT=

## Subgraph endpoints
VITE_ETHEREUM_MAINNET_SUBGRAPH_ENDPOINT=
VITE_ARBITRUM_MAINNET_SUBGRAPH_ENDPOINT=
VITE_OPTIMISM_MAINNET_SUBGRAPH_ENDPOINT=
VITE_BASE_MAINNET_SUBGRAPH_ENDPOINT=
VITE_ETHEREUM_TESTNET_SUBGRAPH_ENDPOINT=
VITE_ARBITRUM_TESTNET_SUBGRAPH_ENDPOINT=
VITE_OPTIMISM_TESTNET_SUBGRAPH_ENDPOINT=
VITE_POLYGON_TESTNET_SUBGRAPH_ENDPOINT=
VITE_AVALANCHE_TESTNET_SUBGRAPH_ENDPOINT=
VITE_BASE_SEPOLIA_SUBGRAPH_ENDPOINT=

